---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Uddipan Nepal social entrepreneurship solution in Nepal" />
        <title>Uddipan Nepal</title>
        <AstroFont
            config={[
                {
                    src: [],
                    name: "Urbanist",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap',
                },
            ]}
        />
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <AppFooter />
       
    </body>
</html>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
